/* color switcher */
body.dark section {
  background-color: #151515;
}
.style-switcher {
  position: fixed;
  right: 0;
  top: 20px;
  background-color: white;
  padding: 15px;
  text-align: center;
  z-index: 10;
  border: 1px solid #e8dfec;
  border-right: none;
  transform: translateX(100%);
  transition: 0.5s ease all;
  border-radius: 0px 0 0 5px;
}
.style-switcher.open {
  transform: translateX(0%);
}
.style-switcher h4 {
  font-size: 16px;
  margin-bottom: 8px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e8dfec;
}
.style-switcher ul {
  margin: 0;
  list-style-type: none;
}
.style-switcher ul li {
  display: inline-block;
}
.style-switcher ul li a {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
  margin: 3px;
}
.style-switcher .toggle-switcher {
  position: absolute;
  top: -1px;
  left: -41px;
  background-color: white;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #e8dfec;
  border-right: none;
  text-align: center;
  cursor: pointer;
  border-radius: 5px 0 0 5px;
  transition: 0.5s ease all;
}
.style-switcher label {
  margin: 5px;
}

/* dark mode style */
body.dark {
  color: #e9e9e9;
}
body.dark .main-container {
  background-color: #151515;
}
body.dark .sidebar,
body.dark section.about .education-card,
body.dark section.about .experience-card,
body.dark .services-section .services-item .services-item-inner,
body.dark section.blog-section .blog-item .blog-item-inner,
body.dark .portfolio-section .portfolio-item-inner .overlay i,
body.dark input[type="text"],
body.dark input[type="email"],
body.dark textarea,
body.dark .style-switcher,
body.dark .style-switcher .toggle-switcher,
body.dark .nav-toggle {
  background-color: #222222;
}
body.dark .sidebar .logo a,
body.dark .nav ul li a,
body.dark input[type="text"],
body.dark input[type="email"],
body.dark textarea {
  color: white;
}
body.dark .sidebar,
body.dark section.about .biodata p,
body.dark .nav ul li a,
body.dark .services-section .services-item .services-item-inner,
body.dark .portfolio-section .row .portfolio-item-inner,
body.dark section.blog-section .blog-item .blog-item-inner,
body.dark input[type="text"],
body.dark input[type="email"],
body.dark textarea,
body.dark .style-switcher,
body.dark .style-switcher .toggle-switcher,
body.dark .nav-toggle {
  border-color: #393939;
}
body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5 {
  color: #ffffff;
}
body.dark section.about .skills .skill-percent,
body.dark section.portfolio-section .navigation-btn button {
  color: #e9e9e9;
}
